fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic[email]
jinja2
python-dotenv
python-multipart
# htmx-fastapi # Removido/Comentado
# --- Bibliotecas para funcionalidades futuras (já incluídas) ---
Pillow
qrcode
python-barcode
streamlit-antd-components
# Para importação Excel (se usar .xlsx)
openpyxl
# --- Biblioteca Cloudinary ---
cloudinary
